<!--Navbar-->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark blue">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">বাড়ি ভাড়া</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">
                    <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>লগ-আউট</a>
            </li>
            {% if request.user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="/admin/">
                    <i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>এডমিন প্যানেল
                </a>
            </li>
            {% endif %}
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">
                    <i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>লগইন
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">
                    <i class="fa fa-user-plus fa-lg" aria-hidden="true"></i>সাইন-আপ
                </a>
            </li>
            {% endif %}


        </ul>
        <!-- Links -->

        <ul class="navbar-nav ml-auto">
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fa fa-user fa-lg" aria-hidden="true"></i>প্রোফাইল<span class="caret"></span>
                </a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'profile' %}">
                        <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>অ্যাকাউন্ট
                    </a>
                    {% if user.is_authenticated %}
                    <a class="dropdown-item" href="{% url 'logout' %}">
                        <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>লগ-আউট</a>
                    {% else %}
                    <a class="dropdown-item" href="{% url 'login' %}">
                        <i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>লগইন
                    </a>
                    {% endif %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">
                    <i class="fa fa-envelope fa-lg" aria-hidden="true"></i> যোগাযোগ
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fa fa-home fa-lg" aria-hidden="true"></i>হোম
                </a>
            </li>



        </ul>
        <!-- Collapsible content -->

</nav>
<!--/.Navbar-->