<!--Google map-->

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3687.05487762762!2d90.38142071435527!3d22.46457198523844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30aacf2fe39e501f%3A0xec70c954a51b0386!2z4Kaq4Kaf4KeB4Kav4Ka84Ka-4KaW4Ka-4Kay4KeAIOCmrOCmv-CmnOCnjeCmnuCmvuCmqCDgppMg4Kaq4KeN4Kaw4Kav4KeB4KaV4KeN4Kak4Ka_IOCmrOCmv-CmtuCnjeCmrOCmrOCmv-CmpuCnjeCmr-CmvuCmsuCmr-CmvA!5e0!3m2!1sbn!2sbd!4v1546795098225"
    width="100%" height="450" frameborder="0" style="border:0" allowfullscreen>
</iframe>

<!--Google Maps-->
<!-- Footer -->
<footer class="page-footer font-small blue-grey  pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase"><i class="fa fa-home fa-lg" aria-hidden="true"></i> বাড়ি ভাড়া</h5>
                <h6>বাড়ি-ভাড়া.কমে স্বাগতম </h6>
                <p>আপনার বাড়িতে ভাড়া / খোঁজার সবচেয়ে সহজ উপায়!</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">
                    সাহায্য সহযোগীতা</h5>

                <ul class="list-unstyled">
                    <li>
                        - <a href="#!">কিভাবে বিজ্ঞাপন পোস্ট করুন</a>
                    </li>
                    <li>
                        - <a href="#!">কিভাবে অনুসন্ধান করুন</a>
                    </li>
                    <li>
                        - <a href="#!">এফ.এ.কিউ</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">আমাদের সম্পর্কে</h5>

                <ul class="list-unstyled">
                    <li>
                        - <a href="#!">
                            শর্তাবলী</a>
                    </li>
                    <li>
                        - <a href="#!">
                            গোপনীয়তা নীতি</a>
                    </li>
                    <li>
                        - <a href="#!">আমাদের সাথে যোগাযোগ করুন</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <!-- Copyright -->

</footer>
<!-- Footer -->